/* styles.css */
body {
    background: linear-gradient(to right, #a7624f ,#0b6d8d); 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem; 
    animation: slideInFromTop 1s ease-out;
  }
  
  .question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    animation: slideInFromBottom 1s ease-out;
  }
  
  ul.list-unstyled {
    padding-left: 0; 
    margin: 0;
    list-style-type: none; 
  }
  
  li {
    margin-bottom: 10px; 
    animation: fadeInUp 0.5s ease-out;
  }
  
  button {
    margin: 5px;
    width: 100%;
    border-radius: 12px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
    padding: 12px; 
  }
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  
  button.correct {
    background-color: #28a745;
    color: #fff;
    border: 1px solid #28a745;
  }
  
  button.incorrect {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
  }
  
  .results {
    margin-top: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .results h2 {
    margin-bottom: 15px;
    font-size: 2rem; 
  }
  
  .results p {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInFromTop {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromBottom {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  